In [94]:
import numpy as np
import pandas as pd

In [95]:
stock = pd.read_csv('RedditNews.csv')

In [96]:
stock.head()

         Date                                               News
0  2016-07-01  A 117-year-old woman in Mexico City finally re...
1  2016-07-01   IMF chief backs Athens as permanent Olympic host
2  2016-07-01  The president of France says if Brexit won, so...
3  2016-07-01  British Man Who Must Give Police 24 Hours' Not...
4  2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...

In [97]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73608 entries, 0 to 73607
Data columns (total 2 columns):
Date    73608 non-null object
News    73608 non-null object
dtypes: object(2)
memory usage: 1.1+ MB

In [98]:
stock['Date'] = pd.to_datetime(stock['Date'])
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73608 entries, 0 to 73607
Data columns (total 2 columns):
Date    73608 non-null datetime64[ns]
News    73608 non-null object
dtypes: datetime64[ns](1), object(1)
memory usage: 1.1+ MB

In [99]:
mask = (stock['Date'] > '2010-06-01') & (stock['Date'] <= '2016-06-01')

In [100]:
stock.loc[mask].tail()

            Date                                               News
55518 2010-06-02                  b"McDonald's New Gay Friendly Ad"
55519 2010-06-02  b'A heatwave strikes India and South Asia, rea...
55520 2010-06-02  b"UN report says CIA drone strikes in Pakistan...
55521 2010-06-02  b'In the 62 years of its existence, Israel has...
55522 2010-06-02  b'Turkey likens Israeli raid on aid ship to 9/...

In [101]:
datetimes = np.array(stock['Date'])[::100]

In [102]:
datetimes[::-1]

array(['2008-06-08T00:00:00.000000000', '2008-06-12T00:00:00.000000000',
       '2008-06-16T00:00:00.000000000', '2008-06-20T00:00:00.000000000',
       '2008-06-24T00:00:00.000000000', '2008-06-28T00:00:00.000000000',
       '2008-07-02T00:00:00.000000000', '2008-07-06T00:00:00.000000000',
       '2008-07-10T00:00:00.000000000', '2008-07-14T00:00:00.000000000',
       '2008-07-18T00:00:00.000000000', '2008-07-22T00:00:00.000000000',
       '2008-07-26T00:00:00.000000000', '2008-07-30T00:00:00.000000000',
       '2008-08-03T00:00:00.000000000', '2008-08-07T00:00:00.000000000',
       '2008-08-11T00:00:00.000000000', '2008-08-15T00:00:00.000000000',
       '2008-08-19T00:00:00.000000000', '2008-08-23T00:00:00.000000000',
       '2008-08-27T00:00:00.000000000', '2008-08-31T00:00:00.000000000',
       '2008-09-04T00:00:00.000000000', '2008-09-08T00:00:00.000000000',
       '2008-09-12T00:00:00.000000000', '2008-09-16T00:00:00.000000000',
       '2008-09-20T00:00:00.000000000', '2008-09-24T00:00:00.000000000',
       '2008-09-28T00:00:00.000000000', '2008-10-02T00:00:00.000000000',
       '2008-10-06T00:00:00.000000000', '2008-10-10T00:00:00.000000000',
       '2008-10-14T00:00:00.000000000', '2008-10-18T00:00:00.000000000',
       '2008-10-22T00:00:00.000000000', '2008-10-26T00:00:00.000000000',
       '2008-10-29T00:00:00.000000000', '2008-11-02T00:00:00.000000000',
       '2008-11-06T00:00:00.000000000', '2008-11-10T00:00:00.000000000',
       '2008-11-14T00:00:00.000000000', '2008-11-18T00:00:00.000000000',
       '2008-11-22T00:00:00.000000000', '2008-11-26T00:00:00.000000000',
       '2008-11-30T00:00:00.000000000', '2008-12-04T00:00:00.000000000',
       '2008-12-08T00:00:00.000000000', '2008-12-12T00:00:00.000000000',
       '2008-12-16T00:00:00.000000000', '2008-12-20T00:00:00.000000000',
       '2008-12-24T00:00:00.000000000', '2008-12-28T00:00:00.000000000',
       '2009-01-01T00:00:00.000000000', '2009-01-05T00:00:00.000000000',
       '2009-01-09T00:00:00.000000000', '2009-01-13T00:00:00.000000000',
       '2009-01-17T00:00:00.000000000', '2009-01-21T00:00:00.000000000',
       '2009-01-25T00:00:00.000000000', '2009-01-29T00:00:00.000000000',
       '2009-02-02T00:00:00.000000000', '2009-02-06T00:00:00.000000000',
       '2009-02-10T00:00:00.000000000', '2009-02-14T00:00:00.000000000',
       '2009-02-18T00:00:00.000000000', '2009-02-22T00:00:00.000000000',
       '2009-02-26T00:00:00.000000000', '2009-03-02T00:00:00.000000000',
       '2009-03-06T00:00:00.000000000', '2009-03-10T00:00:00.000000000',
       '2009-03-14T00:00:00.000000000', '2009-03-18T00:00:00.000000000',
       '2009-03-22T00:00:00.000000000', '2009-03-26T00:00:00.000000000',
       '2009-03-31T00:00:00.000000000', '2009-04-04T00:00:00.000000000',
       '2009-04-08T00:00:00.000000000', '2009-04-12T00:00:00.000000000',
       '2009-04-16T00:00:00.000000000', '2009-04-20T00:00:00.000000000',
       '2009-04-24T00:00:00.000000000', '2009-04-28T00:00:00.000000000',
       '2009-05-02T00:00:00.000000000', '2009-05-06T00:00:00.000000000',
       '2009-05-10T00:00:00.000000000', '2009-05-14T00:00:00.000000000',
       '2009-05-18T00:00:00.000000000', '2009-05-22T00:00:00.000000000',
       '2009-05-26T00:00:00.000000000', '2009-05-30T00:00:00.000000000',
       '2009-06-03T00:00:00.000000000', '2009-06-07T00:00:00.000000000',
       '2009-06-11T00:00:00.000000000', '2009-06-15T00:00:00.000000000',
       '2009-06-19T00:00:00.000000000', '2009-06-23T00:00:00.000000000',
       '2009-06-27T00:00:00.000000000', '2009-07-01T00:00:00.000000000',
       '2009-07-05T00:00:00.000000000', '2009-07-09T00:00:00.000000000',
       '2009-07-13T00:00:00.000000000', '2009-07-17T00:00:00.000000000',
       '2009-07-21T00:00:00.000000000', '2009-07-25T00:00:00.000000000',
       '2009-07-29T00:00:00.000000000', '2009-08-02T00:00:00.000000000',
       '2009-08-06T00:00:00.000000000', '2009-08-10T00:00:00.000000000',
       '2009-08-14T00:00:00.000000000', '2009-08-18T00:00:00.000000000',
       '2009-08-22T00:00:00.000000000', '2009-08-26T00:00:00.000000000',
       '2009-08-30T00:00:00.000000000', '2009-09-03T00:00:00.000000000',
       '2009-09-07T00:00:00.000000000', '2009-09-11T00:00:00.000000000',
       '2009-09-15T00:00:00.000000000', '2009-09-19T00:00:00.000000000',
       '2009-09-23T00:00:00.000000000', '2009-09-27T00:00:00.000000000',
       '2009-10-01T00:00:00.000000000', '2009-10-05T00:00:00.000000000',
       '2009-10-09T00:00:00.000000000', '2009-10-13T00:00:00.000000000',
       '2009-10-17T00:00:00.000000000', '2009-10-21T00:00:00.000000000',
       '2009-10-25T00:00:00.000000000', '2009-10-28T00:00:00.000000000',
       '2009-11-01T00:00:00.000000000', '2009-11-05T00:00:00.000000000',
       '2009-11-09T00:00:00.000000000', '2009-11-13T00:00:00.000000000',
       '2009-11-17T00:00:00.000000000', '2009-11-21T00:00:00.000000000',
       '2009-11-25T00:00:00.000000000', '2009-11-29T00:00:00.000000000',
       '2009-12-03T00:00:00.000000000', '2009-12-07T00:00:00.000000000',
       '2009-12-11T00:00:00.000000000', '2009-12-15T00:00:00.000000000',
       '2009-12-19T00:00:00.000000000', '2009-12-23T00:00:00.000000000',
       '2009-12-27T00:00:00.000000000', '2009-12-31T00:00:00.000000000',
       '2010-01-04T00:00:00.000000000', '2010-01-08T00:00:00.000000000',
       '2010-01-12T00:00:00.000000000', '2010-01-16T00:00:00.000000000',
       '2010-01-20T00:00:00.000000000', '2010-01-24T00:00:00.000000000',
       '2010-01-28T00:00:00.000000000', '2010-02-01T00:00:00.000000000',
       '2010-02-05T00:00:00.000000000', '2010-02-09T00:00:00.000000000',
       '2010-02-13T00:00:00.000000000', '2010-02-17T00:00:00.000000000',
       '2010-02-21T00:00:00.000000000', '2010-02-25T00:00:00.000000000',
       '2010-03-01T00:00:00.000000000', '2010-03-05T00:00:00.000000000',
       '2010-03-09T00:00:00.000000000', '2010-03-13T00:00:00.000000000',
       '2010-03-17T00:00:00.000000000', '2010-03-21T00:00:00.000000000',
       '2010-03-25T00:00:00.000000000', '2010-03-30T00:00:00.000000000',
       '2010-04-03T00:00:00.000000000', '2010-04-07T00:00:00.000000000',
       '2010-04-11T00:00:00.000000000', '2010-04-15T00:00:00.000000000',
       '2010-04-19T00:00:00.000000000', '2010-04-23T00:00:00.000000000',
       '2010-04-27T00:00:00.000000000', '2010-05-01T00:00:00.000000000',
       '2010-05-05T00:00:00.000000000', '2010-05-09T00:00:00.000000000',
       '2010-05-13T00:00:00.000000000', '2010-05-17T00:00:00.000000000',
       '2010-05-21T00:00:00.000000000', '2010-05-25T00:00:00.000000000',
       '2010-05-29T00:00:00.000000000', '2010-06-02T00:00:00.000000000',
       '2010-06-06T00:00:00.000000000', '2010-06-10T00:00:00.000000000',
       '2010-06-14T00:00:00.000000000', '2010-06-18T00:00:00.000000000',
       '2010-06-22T00:00:00.000000000', '2010-06-26T00:00:00.000000000',
       '2010-06-30T00:00:00.000000000', '2010-07-04T00:00:00.000000000',
       '2010-07-08T00:00:00.000000000', '2010-07-12T00:00:00.000000000',
       '2010-07-16T00:00:00.000000000', '2010-07-20T00:00:00.000000000',
       '2010-07-24T00:00:00.000000000', '2010-07-28T00:00:00.000000000',
       '2010-08-01T00:00:00.000000000', '2010-08-05T00:00:00.000000000',
       '2010-08-09T00:00:00.000000000', '2010-08-13T00:00:00.000000000',
       '2010-08-17T00:00:00.000000000', '2010-08-21T00:00:00.000000000',
       '2010-08-25T00:00:00.000000000', '2010-08-29T00:00:00.000000000',
       '2010-09-02T00:00:00.000000000', '2010-09-06T00:00:00.000000000',
       '2010-09-10T00:00:00.000000000', '2010-09-14T00:00:00.000000000',
       '2010-09-18T00:00:00.000000000', '2010-09-22T00:00:00.000000000',
       '2010-09-26T00:00:00.000000000', '2010-09-30T00:00:00.000000000',
       '2010-10-04T00:00:00.000000000', '2010-10-08T00:00:00.000000000',
       '2010-10-12T00:00:00.000000000', '2010-10-16T00:00:00.000000000',
       '2010-10-20T00:00:00.000000000', '2010-10-24T00:00:00.000000000',
       '2010-10-28T00:00:00.000000000', '2010-11-01T00:00:00.000000000',
       '2010-11-05T00:00:00.000000000', '2010-11-09T00:00:00.000000000',
       '2010-11-13T00:00:00.000000000', '2010-11-17T00:00:00.000000000',
       '2010-11-21T00:00:00.000000000', '2010-11-25T00:00:00.000000000',
       '2010-11-29T00:00:00.000000000', '2010-12-03T00:00:00.000000000',
       '2010-12-07T00:00:00.000000000', '2010-12-11T00:00:00.000000000',
       '2010-12-15T00:00:00.000000000', '2010-12-19T00:00:00.000000000',
       '2010-12-23T00:00:00.000000000', '2010-12-27T00:00:00.000000000',
       '2010-12-31T00:00:00.000000000', '2011-01-04T00:00:00.000000000',
       '2011-01-08T00:00:00.000000000', '2011-01-12T00:00:00.000000000',
       '2011-01-16T00:00:00.000000000', '2011-01-20T00:00:00.000000000',
       '2011-01-24T00:00:00.000000000', '2011-01-28T00:00:00.000000000',
       '2011-02-01T00:00:00.000000000', '2011-02-05T00:00:00.000000000',
       '2011-02-09T00:00:00.000000000', '2011-02-13T00:00:00.000000000',
       '2011-02-17T00:00:00.000000000', '2011-02-21T00:00:00.000000000',
       '2011-02-25T00:00:00.000000000', '2011-03-01T00:00:00.000000000',
       '2011-03-05T00:00:00.000000000', '2011-03-09T00:00:00.000000000',
       '2011-03-13T00:00:00.000000000', '2011-03-17T00:00:00.000000000',
       '2011-03-21T00:00:00.000000000', '2011-03-25T00:00:00.000000000',
       '2011-03-29T00:00:00.000000000', '2011-04-02T00:00:00.000000000',
       '2011-04-06T00:00:00.000000000', '2011-04-10T00:00:00.000000000',
       '2011-04-14T00:00:00.000000000', '2011-04-18T00:00:00.000000000',
       '2011-04-22T00:00:00.000000000', '2011-04-26T00:00:00.000000000',
       '2011-04-30T00:00:00.000000000', '2011-05-04T00:00:00.000000000',
       '2011-05-08T00:00:00.000000000', '2011-05-12T00:00:00.000000000',
       '2011-05-16T00:00:00.000000000', '2011-05-20T00:00:00.000000000',
       '2011-05-24T00:00:00.000000000', '2011-05-28T00:00:00.000000000',
       '2011-06-01T00:00:00.000000000', '2011-06-05T00:00:00.000000000',
       '2011-06-09T00:00:00.000000000', '2011-06-13T00:00:00.000000000',
       '2011-06-17T00:00:00.000000000', '2011-06-21T00:00:00.000000000',
       '2011-06-25T00:00:00.000000000', '2011-06-29T00:00:00.000000000',
       '2011-07-03T00:00:00.000000000', '2011-07-07T00:00:00.000000000',
       '2011-07-11T00:00:00.000000000', '2011-07-15T00:00:00.000000000',
       '2011-07-19T00:00:00.000000000', '2011-07-23T00:00:00.000000000',
       '2011-07-27T00:00:00.000000000', '2011-07-31T00:00:00.000000000',
       '2011-08-04T00:00:00.000000000', '2011-08-08T00:00:00.000000000',
       '2011-08-12T00:00:00.000000000', '2011-08-16T00:00:00.000000000',
       '2011-08-20T00:00:00.000000000', '2011-08-24T00:00:00.000000000',
       '2011-08-28T00:00:00.000000000', '2011-09-01T00:00:00.000000000',
       '2011-09-05T00:00:00.000000000', '2011-09-09T00:00:00.000000000',
       '2011-09-13T00:00:00.000000000', '2011-09-17T00:00:00.000000000',
       '2011-09-21T00:00:00.000000000', '2011-09-25T00:00:00.000000000',
       '2011-09-29T00:00:00.000000000', '2011-10-03T00:00:00.000000000',
       '2011-10-07T00:00:00.000000000', '2011-10-11T00:00:00.000000000',
       '2011-10-15T00:00:00.000000000', '2011-10-19T00:00:00.000000000',
       '2011-10-23T00:00:00.000000000', '2011-10-27T00:00:00.000000000',
       '2011-10-31T00:00:00.000000000', '2011-11-04T00:00:00.000000000',
       '2011-11-08T00:00:00.000000000', '2011-11-12T00:00:00.000000000',
       '2011-11-16T00:00:00.000000000', '2011-11-20T00:00:00.000000000',
       '2011-11-24T00:00:00.000000000', '2011-11-28T00:00:00.000000000',
       '2011-12-02T00:00:00.000000000', '2011-12-06T00:00:00.000000000',
       '2011-12-10T00:00:00.000000000', '2011-12-14T00:00:00.000000000',
       '2011-12-18T00:00:00.000000000', '2011-12-22T00:00:00.000000000',
       '2011-12-26T00:00:00.000000000', '2011-12-30T00:00:00.000000000',
       '2012-01-03T00:00:00.000000000', '2012-01-07T00:00:00.000000000',
       '2012-01-11T00:00:00.000000000', '2012-01-15T00:00:00.000000000',
       '2012-01-19T00:00:00.000000000', '2012-01-23T00:00:00.000000000',
       '2012-01-27T00:00:00.000000000', '2012-01-31T00:00:00.000000000',
       '2012-02-04T00:00:00.000000000', '2012-02-08T00:00:00.000000000',
       '2012-02-12T00:00:00.000000000', '2012-02-16T00:00:00.000000000',
       '2012-02-20T00:00:00.000000000', '2012-02-24T00:00:00.000000000',
       '2012-02-28T00:00:00.000000000', '2012-03-03T00:00:00.000000000',
       '2012-03-07T00:00:00.000000000', '2012-03-11T00:00:00.000000000',
       '2012-03-15T00:00:00.000000000', '2012-03-19T00:00:00.000000000',
       '2012-03-23T00:00:00.000000000', '2012-03-27T00:00:00.000000000',
       '2012-03-31T00:00:00.000000000', '2012-04-04T00:00:00.000000000',
       '2012-04-08T00:00:00.000000000', '2012-04-12T00:00:00.000000000',
       '2012-04-16T00:00:00.000000000', '2012-04-20T00:00:00.000000000',
       '2012-04-24T00:00:00.000000000', '2012-04-28T00:00:00.000000000',
       '2012-05-02T00:00:00.000000000', '2012-05-06T00:00:00.000000000',
       '2012-05-10T00:00:00.000000000', '2012-05-14T00:00:00.000000000',
       '2012-05-18T00:00:00.000000000', '2012-05-22T00:00:00.000000000',
       '2012-05-26T00:00:00.000000000', '2012-05-30T00:00:00.000000000',
       '2012-06-03T00:00:00.000000000', '2012-06-07T00:00:00.000000000',
       '2012-06-11T00:00:00.000000000', '2012-06-15T00:00:00.000000000',
       '2012-06-19T00:00:00.000000000', '2012-06-23T00:00:00.000000000',
       '2012-06-27T00:00:00.000000000', '2012-07-01T00:00:00.000000000',
       '2012-07-05T00:00:00.000000000', '2012-07-09T00:00:00.000000000',
       '2012-07-13T00:00:00.000000000', '2012-07-17T00:00:00.000000000',
       '2012-07-21T00:00:00.000000000', '2012-07-25T00:00:00.000000000',
       '2012-07-29T00:00:00.000000000', '2012-08-02T00:00:00.000000000',
       '2012-08-06T00:00:00.000000000', '2012-08-10T00:00:00.000000000',
       '2012-08-14T00:00:00.000000000', '2012-08-18T00:00:00.000000000',
       '2012-08-22T00:00:00.000000000', '2012-08-26T00:00:00.000000000',
       '2012-08-30T00:00:00.000000000', '2012-09-03T00:00:00.000000000',
       '2012-09-07T00:00:00.000000000', '2012-09-11T00:00:00.000000000',
       '2012-09-15T00:00:00.000000000', '2012-09-19T00:00:00.000000000',
       '2012-09-23T00:00:00.000000000', '2012-09-27T00:00:00.000000000',
       '2012-10-01T00:00:00.000000000', '2012-10-05T00:00:00.000000000',
       '2012-10-09T00:00:00.000000000', '2012-10-13T00:00:00.000000000',
       '2012-10-17T00:00:00.000000000', '2012-10-21T00:00:00.000000000',
       '2012-10-25T00:00:00.000000000', '2012-10-29T00:00:00.000000000',
       '2012-11-02T00:00:00.000000000', '2012-11-06T00:00:00.000000000',
       '2012-11-10T00:00:00.000000000', '2012-11-14T00:00:00.000000000',
       '2012-11-18T00:00:00.000000000', '2012-11-22T00:00:00.000000000',
       '2012-11-26T00:00:00.000000000', '2012-11-30T00:00:00.000000000',
       '2012-12-04T00:00:00.000000000', '2012-12-08T00:00:00.000000000',
       '2012-12-12T00:00:00.000000000', '2012-12-16T00:00:00.000000000',
       '2012-12-20T00:00:00.000000000', '2012-12-24T00:00:00.000000000',
       '2012-12-28T00:00:00.000000000', '2013-01-01T00:00:00.000000000',
       '2013-01-05T00:00:00.000000000', '2013-01-09T00:00:00.000000000',
       '2013-01-13T00:00:00.000000000', '2013-01-17T00:00:00.000000000',
       '2013-01-21T00:00:00.000000000', '2013-01-25T00:00:00.000000000',
       '2013-01-29T00:00:00.000000000', '2013-02-02T00:00:00.000000000',
       '2013-02-06T00:00:00.000000000', '2013-02-10T00:00:00.000000000',
       '2013-02-14T00:00:00.000000000', '2013-02-18T00:00:00.000000000',
       '2013-02-22T00:00:00.000000000', '2013-02-26T00:00:00.000000000',
       '2013-03-02T00:00:00.000000000', '2013-03-06T00:00:00.000000000',
       '2013-03-10T00:00:00.000000000', '2013-03-14T00:00:00.000000000',
       '2013-03-18T00:00:00.000000000', '2013-03-22T00:00:00.000000000',
       '2013-03-26T00:00:00.000000000', '2013-03-30T00:00:00.000000000',
       '2013-04-03T00:00:00.000000000', '2013-04-07T00:00:00.000000000',
       '2013-04-11T00:00:00.000000000', '2013-04-15T00:00:00.000000000',
       '2013-04-19T00:00:00.000000000', '2013-04-23T00:00:00.000000000',
       '2013-04-27T00:00:00.000000000', '2013-05-01T00:00:00.000000000',
       '2013-05-05T00:00:00.000000000', '2013-05-09T00:00:00.000000000',
       '2013-05-13T00:00:00.000000000', '2013-05-17T00:00:00.000000000',
       '2013-05-21T00:00:00.000000000', '2013-05-25T00:00:00.000000000',
       '2013-05-29T00:00:00.000000000', '2013-06-02T00:00:00.000000000',
       '2013-06-06T00:00:00.000000000', '2013-06-10T00:00:00.000000000',
       '2013-06-14T00:00:00.000000000', '2013-06-18T00:00:00.000000000',
       '2013-06-22T00:00:00.000000000', '2013-06-26T00:00:00.000000000',
       '2013-06-30T00:00:00.000000000', '2013-07-04T00:00:00.000000000',
       '2013-07-08T00:00:00.000000000', '2013-07-12T00:00:00.000000000',
       '2013-07-16T00:00:00.000000000', '2013-07-20T00:00:00.000000000',
       '2013-07-24T00:00:00.000000000', '2013-07-28T00:00:00.000000000',
       '2013-08-01T00:00:00.000000000', '2013-08-05T00:00:00.000000000',
       '2013-08-09T00:00:00.000000000', '2013-08-13T00:00:00.000000000',
       '2013-08-17T00:00:00.000000000', '2013-08-21T00:00:00.000000000',
       '2013-08-25T00:00:00.000000000', '2013-08-29T00:00:00.000000000',
       '2013-09-02T00:00:00.000000000', '2013-09-06T00:00:00.000000000',
       '2013-09-10T00:00:00.000000000', '2013-09-14T00:00:00.000000000',
       '2013-09-18T00:00:00.000000000', '2013-09-22T00:00:00.000000000',
       '2013-09-26T00:00:00.000000000', '2013-09-30T00:00:00.000000000',
       '2013-10-04T00:00:00.000000000', '2013-10-08T00:00:00.000000000',
       '2013-10-12T00:00:00.000000000', '2013-10-16T00:00:00.000000000',
       '2013-10-20T00:00:00.000000000', '2013-10-24T00:00:00.000000000',
       '2013-10-28T00:00:00.000000000', '2013-11-01T00:00:00.000000000',
       '2013-11-05T00:00:00.000000000', '2013-11-09T00:00:00.000000000',
       '2013-11-13T00:00:00.000000000', '2013-11-17T00:00:00.000000000',
       '2013-11-21T00:00:00.000000000', '2013-11-25T00:00:00.000000000',
       '2013-11-29T00:00:00.000000000', '2013-12-03T00:00:00.000000000',
       '2013-12-07T00:00:00.000000000', '2013-12-11T00:00:00.000000000',
       '2013-12-15T00:00:00.000000000', '2013-12-19T00:00:00.000000000',
       '2013-12-23T00:00:00.000000000', '2013-12-27T00:00:00.000000000',
       '2013-12-31T00:00:00.000000000', '2014-01-04T00:00:00.000000000',
       '2014-01-08T00:00:00.000000000', '2014-01-12T00:00:00.000000000',
       '2014-01-16T00:00:00.000000000', '2014-01-20T00:00:00.000000000',
       '2014-01-24T00:00:00.000000000', '2014-01-28T00:00:00.000000000',
       '2014-02-01T00:00:00.000000000', '2014-02-05T00:00:00.000000000',
       '2014-02-09T00:00:00.000000000', '2014-02-13T00:00:00.000000000',
       '2014-02-17T00:00:00.000000000', '2014-02-21T00:00:00.000000000',
       '2014-02-25T00:00:00.000000000', '2014-03-01T00:00:00.000000000',
       '2014-03-05T00:00:00.000000000', '2014-03-09T00:00:00.000000000',
       '2014-03-13T00:00:00.000000000', '2014-03-17T00:00:00.000000000',
       '2014-03-21T00:00:00.000000000', '2014-03-25T00:00:00.000000000',
       '2014-03-29T00:00:00.000000000', '2014-04-02T00:00:00.000000000',
       '2014-04-06T00:00:00.000000000', '2014-04-10T00:00:00.000000000',
       '2014-04-14T00:00:00.000000000', '2014-04-18T00:00:00.000000000',
       '2014-04-22T00:00:00.000000000', '2014-04-26T00:00:00.000000000',
       '2014-04-30T00:00:00.000000000', '2014-05-04T00:00:00.000000000',
       '2014-05-08T00:00:00.000000000', '2014-05-12T00:00:00.000000000',
       '2014-05-16T00:00:00.000000000', '2014-05-20T00:00:00.000000000',
       '2014-05-24T00:00:00.000000000', '2014-05-28T00:00:00.000000000',

In [103]:
len(datetimes)

737

In [133]:
mask = (stock['Date'] == datetimes[0]) # условия для первого сабсета
new = stock.loc[mask] # создание первого сабсета
new['ShiftedDate'] = new['Date'].shift(1) # создание нового столбца со смещение даты
new.head()

C:\Users\Максим\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

        Date                                               News ShiftedDate
0 2016-07-01  A 117-year-old woman in Mexico City finally re...         NaT
1 2016-07-01   IMF chief backs Athens as permanent Olympic host  2016-07-01
2 2016-07-01  The president of France says if Brexit won, so...  2016-07-01
3 2016-07-01  British Man Who Must Give Police 24 Hours' Not...  2016-07-01
4 2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...  2016-07-01

In [137]:
for i in range(1, len(datetimes)): # пробегаемся от первой даты до последней из списка
    mask = (stock['Date'] == datetimes[i]) # создаем условие для сабсета
    temporary = stock.loc[mask] # создаем сабсет
    temporary['ShiftedDate'] = temporary['Date'].shift(1) #создаем новый столбец сабсета со смещенной датой
    new = new.append(temporary) # добавляем текущий сабсет к уже созданным

C:\Users\Максим\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [138]:
new.head()

        Date                                               News ShiftedDate
0 2016-07-01  A 117-year-old woman in Mexico City finally re...         NaT
1 2016-07-01   IMF chief backs Athens as permanent Olympic host  2016-07-01
2 2016-07-01  The president of France says if Brexit won, so...  2016-07-01
3 2016-07-01  British Man Who Must Give Police 24 Hours' Not...  2016-07-01
4 2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...  2016-07-01

In [140]:
new = new[new['ShiftedDate'].notnull()] # убираем строки с отсутствующими значениями ShiftedDate 
new.head()
# В случае с котировками просто уберу те фьючи, дата экспирации которых совпадает с датой торгового дня

        Date                                               News ShiftedDate
1 2016-07-01   IMF chief backs Athens as permanent Olympic host  2016-07-01
2 2016-07-01  The president of France says if Brexit won, so...  2016-07-01
3 2016-07-01  British Man Who Must Give Police 24 Hours' Not...  2016-07-01
4 2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...  2016-07-01
5 2016-07-01  Brazil: Huge spike in number of police killing...  2016-07-01

In [105]:
new1 = stock.loc[(stock['Date'] == datetimes[1])]
new1.tail()

          Date                                               News
120 2016-06-27  Brexit opinion poll reveals majority don't wan...
121 2016-06-27  Conservative MP Leave Campaigner: "The leave c...
122 2016-06-27  Economists predict UK recession, further weake...
123 2016-06-27  New EU 'superstate plan by France, Germany: Cr...
124 2016-06-27  Pakistani clerics declare transgender marriage...